In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 设置显示中文
plt.rcParams['font.sans-serif'] = ['SimHei']  # 用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False  # 用来正常显示负号

In [11]:
shellDF=pd.read_csv('house_data.csv',encoding='utf8')
print(shellDF.shape)
print(shellDF.head())

(1214, 4)
               address    house  price     total
0           新城红河南路888号     汇悦悦城  14800   40(万/套)
1                海洋公园旁  联发龙洲湾1号  25000  100(万/套)
2              汇龙大道三转盘     汇悦悦峰  18000   40(万/套)
3     渝南大道(南温泉民宿度假酒店旁)    碧桂园天麓  15000  237(万/套)
4  鸥鹏大道巴川旁（巴南新鸥鹏教育城旁边）    新城金樾府  13000  180(万/套)

In [3]:
ajkDF=pd.read_csv('anjuke.csv',encoding='utf8')
print(ajkDF.shape)
print(ajkDF.head())

(540, 8)
                               标题           楼盘             地址      户型     面积  \
0  万科物业自营 南坪六公里金域翰林 三号线精装正三房带家具电器  万科金域学府翰林菁华里   南岸学府大道二塘路59号  3室2厅1卫  89.9㎡
1      黄泥磅 两代一家 正规三房双卫 业主自住房 拎包入住         两代一家  渝北渝北黄泥磅紫荆路29号  3室2厅2卫  94.5㎡
2  鸳鸯16年次新小区 大雅云居山刚需经典3房户型 随时看房诚售        大雅云居山     渝北鸳鸯龙展路59号  3室2厅1卫    88㎡
3           中交中央公园 横厅精装大两房 出门都是公园     中交中央公园悦颂    渝北中央公园翠丹路4号  2室2厅1卫    91㎡
4          富力现代广场 豪装大两房 户型方正 看房方便       富力现代广场  南岸弹子石弹子石新街59号  2室2厅1卫  85.5㎡

         楼层       年代        价格
0  低层(共27层)  2019年建造  16465元/㎡
1  低层(共28层)  2008年建造  14815元/㎡
2  低层(共24层)  2016年建造  16487元/㎡
3  低层(共25层)  2016年建造  20660元/㎡
4  低层(共30层)  2012年建造  16969元/㎡

In [6]:
dupDF=shellDF[shellDF.duplicated()]
print(dupDF.count())
print(dupDF.head())

address    764
house      764
price      764
total      764
dtype: int64
                           address   house  price          total
446   礼嘉嘉陵江畔（轨道九曲河站前行1公里）, 金海大道77号   融创玫瑰园  35000      1900(万/套)
447                  双福园区成渝高速走马出口处  恒大金碧天下   7800     56-93(万/套)
448        黄桷垭福寿路2号（重庆邮电大学与老厂道路之间）   复地山与城  11000  270-1100(万/套)
449                    重庆市渝北区悦山路5号   首地江山赋  18000       260(万/套)
450  西部新 城陶家商圈（白彭路与铜陶路交汇处，陶家百可广场旁）  高开投理想城   7000        60(万/套)

In [16]:
df1=shellDF.drop_duplicates() #去重
print(df1.describe(include='all')) #对去重后的数字进行描述

           address  house         price     total
count          450    450    450.000000       450
unique         415    394           NaN       316
top     李家沱正街都和广场旁  华美翡丽山           NaN  100(万/套)
freq             3      3           NaN        19
mean           NaN    NaN  15560.751111       NaN
std            NaN    NaN   7140.914615       NaN
min            NaN    NaN   4300.000000       NaN
25%            NaN    NaN   9800.000000       NaN
50%            NaN    NaN  15000.000000       NaN
75%            NaN    NaN  20000.000000       NaN
max            NaN    NaN  45000.000000       NaN

In [23]:
print(df1[df1.price=='价格待定'].shape)
print(df1[df1.price=='价格待定'].head())

(0, 4)
Empty DataFrame
Columns: [address, house, price, total]
Index: []

In [24]:
df1=df1.drop(df1[df1.price=='价格待定'].index)
print(df1.describe())

              price
count    450.000000
mean   15560.751111
std     7140.914615
min     4300.000000
25%     9800.000000
50%    15000.000000
75%    20000.000000
max    45000.000000

In [25]:
print(df1.isna().sum())
print(df1[df1.total.isna()].head())

address    0
house      0
price      0
total      0
dtype: int64
Empty DataFrame
Columns: [address, house, price, total]
Index: []

In [26]:
df1=df1.dropna()
print(df1.describe())

              price
count    450.000000
mean   15560.751111
std     7140.914615
min     4300.000000
25%     9800.000000
50%    15000.000000
75%    20000.000000
max    45000.000000